{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{title}}{% endblock title %}
{% block CSS %}
	<link rel="stylesheet" href="{% static 'css/Front.css' %}">

{% endblock CSS %}
{% block content %}
<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
    <h1 class="main"> <span class="thin"></span></h1>
</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-8" align="right">
			<input type="text">
			<button type="submit" class="btn">Search</button>
			<br>
			<a href="/create_players/" style="float:right"><button type="submit" class="btn btn-success" >Create your own </button></a>
			<br>
		</div>
	</div>
	
	{%for room in rooms %}
	{# Переход на выбраную комнату по нажатию. #}
		<a href="{% if room.data_end %} {{room.get_result}} {% else %}{{room.get_absolute_url}} {%endif%}" title="">
		 
		<div class="col-sm-3 go_to_room" data-id="{{room.id}}">
			<div class="col-sm-12">Name room: {{room}}</div>
			<div class="col-sm-12" >When start: {{room.data_begin}}</div>
			{% for FC in FCs %}
				{% if character.room == room %}
					<div class="col-xs-12">

						Player name: {{character}} <br> Player race:{#  отображения расы #}{%for race in races%}{%if race.0 == character.race %}{{race.1}}{%endif%}{%endfor%}<br>
					</div>
				{% endif %}
			{%endfor%}
		</div>
		</a>

	{% endfor %}
{% endblock %}
